<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}title empty{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
</head>
<body>
<div class="container-fluid">
    {% block body %}
    body empty
    {% endblock %}
</div>
{# Load JavaScript last #}
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>