{% extends "base.html" %}

{% block title %}Login to photonic{% endblock %}

{% block body %}
    <div class="container" style="height: 100vh;">
        <div class="card mx-auto align-middle" style="width: 24rem; top: 25vh;">
            <div class="card-body">
                <h5 class="card-title">Login to photonic</h5>
                <form method="post" action="/auth">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}