<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {# Link to home #}
    <a class="navbar-brand" href="/">photonic</a>
    {# Toggle button #}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {# Collapsing area #}
    <div class="collapse navbar-collapse" id="navbarNav">
        {# Main nav with links to photos etc #}
        <ul class="nav navbar-nav">
            {# Photos area #}
            <li class="nav-item {% if area == "photos" %}active{% endif %}">
                <a class="nav-link" href="/photos"><i class="fas fa-camera-retro"></i> Photos</a>
            </li>
            {# Settings area #}
            <li class="nav-item {% if area == "settings" %}active{% endif %}">
                <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> Settings</a>
            </li>
            {# Upload button #}
            <li class="nav-item {% if area == "upload" %}active{% endif %}">
                <a class="nav-link" href="/upload"><i class="fas fa-upload"></i> Upload</a>
            </li>
        </ul>
        {# Right nav with login info #}
        <ul class="nav navbar-nav ml-auto">
            {# User profile button #}
            <li class="nav-item">
                {# Temp user setup #}{% set user = {"name": "foo"} %}
                <a class="nav-link" href="/profile">
                    <i class="fas fa-user-cog"></i> {{ user.name }}
                </a>
            </li>
        </ul>
    </div>
</nav>