{% extends "base2.html" %}
{% set area = "photos" %} {# Set navbar link active #}
{#{% set collection = {#}
{#    "title": "coll",#}
{#    "images": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15"]#}
{# } %}#}


{% block title %}{{ collection.title }} - photonic{% endblock %}

{% block content %}
    <div class="row">
        {% for image in collection.images %}
            <div class="card col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="/photos/{{ image }}">
                    <img class="card-img-top" src="/files/images/{{ image }}/thumb">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}